cairo/
fontconfig.wrap
fontconfig/
freetype2.wrap
freetype2/
gdkpixbuf/
gi-docgen.wrap
gi-docgen/
glib-*/
gperf.wrap
gperf/
jpeg-*/
libffi.wrap
libffi/
libpng-*/
libxml2-*/
openjpeg-*/
packagecache/
pixman.wrap
pixman/
sqlite-amalgamation-*/
tiff-*/
